.root {
  display: flex!important;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  text-decoration: none!important;

  &:hover {
    text-decoration: none!important;

    .change {
      text-decoration: underline!important;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  font-weight: 700;
}

.change {
  font-size: 12px;
}

.inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  height: 62px;
  border-radius: 8px;
  border: 1px solid #bcc7d6;
  color: white;
  text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000;
}

.name {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.period {
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
}
