@import 'src/breakpoints.scss';

.root {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: left!important;

  @media (max-width: $xs) {
    text-align: center!important;
  }
}

.books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 12px;

  @media (max-width: $sm) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $xs) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 370px) {
    grid-template-columns: 1fr 1fr;
  }
}
