.root {
  color: #000;
  padding: 16px;
  text-align: center;
  background: #f9f9f9!important;
  border-top: 1px solid rgba(gray, 0.1);
}

.logo {
  font-size: 32px;
  margin-bottom: 16px;
}

.links {
  font-size: 16px;
  margin-bottom: 24px;

  .link + .link {
    margin-left: 24px;
  }
}
