.root {
  padding: 20px 0;
}

.inner {
  display: flex;
}

.left {
  width: 216px;
  margin-right: 24px;
}

.right {
  width: 100%;
}

.image {
  width: 216px;
  height: 288px;
  min-width: 216px;
  min-height: 288px;
  margin-bottom: 16px;
  object-fit: contain;
  box-shadow: 0 0 10px -4px white;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.readBtn {
  flex: 1;
  margin-bottom: 16px!important;
}



.addBtn,
.deleteBtn {
  flex: 1;
  overflow: hidden;
  position: relative;
  padding-right: 60px!important;
}

.deleteBtn {
  font-size: 12px!important;
}

.addBtnPlus,
.deleteBtnMinus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c2e94;
  position: absolute;
  margin-left: 16px;
  width: 40px;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
}

.deleteBtnMinus {
  background-color: #ab0d54;
}

.author {

}

.name {

}

.genres {
  &Genre + &Genre {
    margin-left: 8px;
  }
}
