@import 'src/breakpoints';

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-around;

  @media (max-width: $sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}